OPENROUTER_API_KEY=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
MODEL_ID=openai/gpt-4o-mini
SUPABASE_URL=https://abgbztwsutjsiiitohuh.supabase.co
SUPABASE_KEY=sb_publishable_rhuW1BOgMkW5UU-Rvp681g_nqh5PiL_
